
<div class="container">
  <h1>Welcome to Meal</h1>
  <p>Find a chef near your place</p>

   <div class="grid">
      <% @meals.each do |meal| %>
        <div class="card-trip">
          <%= cl_image_tag(meal.photo.key) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= meal.title %></h2>
              <p><%= meal.description %></p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <%= cl_image_tag(meal.user.photo.key, :class=>'card-trip-user avatar-bordered') %>
          </div>
        </div>
      <% end %>
  </div>
</div>
